/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: #fff;
    background-color: #141414;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #e50914;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.search-bar input {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    width: 250px;
}

#hero {
    height: 400px;
    background: url('img/guardianes.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5em;
}

.hero-content p {
    font-size: 1.2em;
    margin-top: 1em;
}

.categories-section {
    text-align: center;
    padding: 2em 0;
}

.categories-section h2 {
    font-size: 2em;
    color: #e50914;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.category-button {
    background-color: #202020;
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #e50914;
}

.content-section {
    padding: 2em;
}

.content-section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5em;
    color: #e50914;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.movie-card {
    background-color: #202020;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 280px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #282828;
    color: #ccc;
    font-size: 0.9em;
    margin-top: 3em;
}

#videoPlayerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#videoPlayer {
    width: 80%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

#closeVideoPlayer {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
